.container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

button:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  margin-top: 20px;
}

.success {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.dashboard-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #3e8e41;
}
